# Environnements virtuels
env/
venv/
*.venv/

# Fichiers spécifiques aux systèmes d'exploitation
.DS_Store
Thumbs.db

# Fichiers Python compilés
*.pyc
*.pyo
*.pyd
__pycache__/

# Configurations d'outils
*.vscode/
.idea/
*.swp

# Dépendances
*.egg
*.egg-info/
dist/
build/
*.bak

# Fichiers journaux
*.log

# Fichiers sensibles
*.env

# Autres fichiers générés
*.sqlite3
*.coverage
.coverage.*
